[submodule "ext/bobtail"]
	path = ext/bobtail
	url = https://github.com/Torphedo/bobtail
[submodule "ext/cglm"]
	path = ext/cglm
	url = https://github.com/recp/cglm
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/nfde"]
	path = ext/nfde
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "lib/coregui"]
	path = lib/coregui
	url = https://github.com/torphedo/coregui
[submodule "lib/micromod"]
	path = lib/micromod
	url = https://github.com/torphedo/micromod
[submodule "lib/miniaudio"]
	path = lib/miniaudio
	url = https://github.com/mackron/miniaudio
