# IDE config files
.vs/
.vscode/
.fleet/
.zed/
.idea/
.cache/
CMakeSettings.json

# Built binaries
out/
cmake-*/
cmake_*/
zig-*/
*.exe
*.pdb
compile_commands.json
*.zip

# Files outputted from the program
*.bin
*.png
*.dds
*.obj
*.dae
