# IDE config files
.vs/
.vscode/
.fleet/
.idea/
.cache/
CMakeSettings.json

# Built binaries
out/
cmake-build-debug/
cmake-build-release/
cmake-build-minsizerel/
cmake-build-relwithdebinfo/
*.exe
cmake_*/
compile_commands.json

# Binary files outputted from the program
*.bin
*.png
